@model EmprestimoJogos.Domain.Models.Amigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Amigo</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.DtInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtInclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAtualizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Amigos")
</p>


<div>
    <h3>Histórico de empréstimos</h3>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>Jogo</th>
                <th>Dt. Empréstimo</th>
                <th>Dt. Devolução</th>
                <th>Devolvido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Emprestimo)
            {
                <tr>
                    <td>@item.Jogo.Descricao</td>
                    <td>@item.DtInclusao</td>
                    <td>@item.DtDevolucao</td>
                    @if (item.Ativo == true)
                    {
                        <td>Não</td> }
                    else
                    {
                        <td> Sim </td>
                    }

                </tr>
            }
        </tbody>
    </table>

</div>

